<div class="modal  selected" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h3 class="modal-title" >{{selection_process.name}}</h3>
      </div>
      <div class="header-border"> </div>
      <div class="modal-body" >
      	<div class="message">
      		<p>Are you sure you want to <span class="process">{{selection_process.name}}</span>?</p>
      	</div>
        <div class="results">
	    	<div class="result_info">
	    		<div class="result_total">
		        	<div class="selected"><span>Results: <span class="selected_count"></span>{{select.info}}</span></div>
		        </div>
			    
	   		</div>
	    	<div class="results_table">
			    <table class="qresults" cellspacing="0">
			    	<thead>		    		
				        <tr class="header" >
				           <th></th> 
				            <th ng-repeat="header in headers" ng-bind-html="header"></th>
				        </tr>
			        </thead>
			        <tbody>
				       <tr ng-repeat="selected_result in selected_results" data-id="{{selected_result.id}}">
				       		<td class="delete" title="Deselect" ng-click="deselect(selected_result.id)">X</td>
				       		<td ng-repeat="td in selected_result.cells" class="q_name" ng-bind-html="td"></td>
				       <tr>
			       </tbody>
			    </table>
		    </div>
	    </div>
      </div>
      <div class="modal-footer">
        <a href="#" title="Cancel Processing" ng-click="$hide()">Cancel</a>
        <button type="button" ng-click="process_selection(selection_process.callback, selection_process.id_return, selection_process.user_return)">Continue</button>
      </div>
    </div>
  </div>
</div>
