publishing_flags:
    - T5
display_location_cv:
    - Jira
    - SimpleScattering
search_fields:
    Protein: metadata.protein_id
    Virus: metadata.virus_id
    Jira Issue: metadata.jira_issue
metadata_search_options_basic:
    - file_name
    - metadata.protien_id
    - metadata.virus_id
metadata_search_options:
    metadata.protein_id:
        Display: Protein
        Type: string
    metadata.virus_id:
        Display: Virus
        Type: string

###############################################################################
# This is a JGI-specific configuration. Leaving it here for now as an example
# of how to configure automation with JAMO
wip_updates:
    - service: https://proposals.jgi-psf.org/pmo_webservices/its_project_ids
      entity: sample
      key: metadata.sample_id
      keep:
      - gls_physical_run_unit_id
      - library_name
    - service: https://proposals.jgi-psf.org/pmo_webservices/its_project_ids
      entity: sequencing_project
      key: metadata.sequencing_project_id
      keep:
      - sequencing_project_id
    - service: https://proposals.jgi-psf.org/pmo_webservices/its_project_ids
      entity: proposal
      key: metadata.proposal_id
      keep:
      - proposal_id
