site_name: Taskforce5 Data Management
verbose: true
hostname: 0.0.0.0
port: 8080
core_db: t5_core
oauthsecretfile: /google-oauth/secrets.json
enable_cron : false
metrics_port: 9099
socket_queue_size: 128
thread_pool: 135

# SF API
private_key: /sf-api/key
client_id: 36uuq5cyk6pbg
token_url: https://oidc.nersc.gov/c2id/token
api_url: https://api.nersc.gov/api/v1.2/

logo: /config/logo.png
favicon: /config/favicon.png

admins:
  - ajtritt@lbl.gov

shared:
    default_division: t5

    mongoserver: jamo-mongo
    mongo_options:
        readPreference: nearest
        authSource: admin   # Required for connecting to a MongoDB instance started from the DockerHub mongo image
    mongo_user: t5_metadata_dev_admin
    mongo_pass_file: /mongo-secrets/password
    meta_db: t5_metadata_dev

    dm_archive_root_by_division:
      t5: /global/cfs/cdirs/m4521/t5-data

    dm_archive_mount_by_division:
      t5: /repo-data

    mysql_host: jamo-mysql
    mysql_pass_file: /mysql-secrets/password
    mysql_user: t5

    instance_type: dev
    prod_url: https://data-dev.taskforce5.lbl.gov
    url: https://data-dev.taskforce5.lbl.gov
