from_address: ajtritt@lbl.gov
to_address: ajtritt@lbl.gov
publishing_flags:
    - T5Commons
require_datacenter_source: true
display_location_cv:
  - SAXS
  - SANS
  - CryoEM
  - X-ray Diffraction

division:
    t5:
        jat_key_name: T5

cvs:  # controlled vocabularies
    tags: /config/tags.yaml
    outputs.tags: /config/outputs.tags.yaml

macros:  # controlled vocabularies
  - name: viral_protein
    path: /config/macros/viral_protein.yaml
  - name: saxs_data
    path: /config/macros/saxs_data.yaml
  - name: file_info
    path: /config/macros/file_info.yaml

templates:
  - name: bilbomd_classic_results
    path: /config/templates/bilbomd_classic_results.yaml
  - name: alphafold_results
    path: /config/templates/alphafold_results.yaml
