tape_db: t5_tape
tape_temp_dir: /pscratch/sd/t/t5user/dmtmp
mysql_user: t5
mysql_host: jamo-mysql
mysql_pass_file: /mysql-secrets/password
purge_file_accessed: 10
purge_file_extend: 10
queue_1_limit:
  - 100
  - 1000
queue_2_limit:
  - 25
  - 1000
queue_2_match: portal
disk_size: 10995116277760
disk_reserve: 1099511627776
cache_for_seconds: 300
db_prep_tasks_max_batch_size: 10

dm_archive_root: /global/cfs/cdirs/m4521/t5-data

# Only used during database set up and initialization
backup_services:
  - default_path: /home/t/t5user/data
    type: HPSS
    name: hpss
    server: hpss.nersc.gov

division:
  - name: t5
    default_queue_features: []
    default_backup_service: hpss
    default_queue_features:
        ingest:
            - nersc
        prep:
            - hsi_1
        pull:
            - hsi_1
            - repo_w
        copy:
            - repo_w
        tar:
            - compute
        purge:
            - repo_w
        delete:
            - repo_w
        put: []
        md5:
            - compute
    max_resources:
        hsi_1: 18
        hsi_2: 18

    max_resources:
        hpss: 7
    tape_temp_dir: /pscratch/sd/t/t5user/dmtmp

remote_sources:
    perlmutter:
        rsync_uri: rsync://USER@HOST:PORT/LOC
        rsync_password: "***********************"
        path_prefix_destination: /global/cfs/cdirs/m4521/t5-data
        path_prefix_source: /pscratch
        path_temp: /pscratch/sd/t/t5user/dmtmp

backup_services_to_feature_name:
    HPSS: hsi
    globus: globus
